[Unit]
Description=Duplicati Backup software
After=networking.service

[Service]
ExecStart=/usr/bin/mono /usr/lib/duplicati/Duplicati.Server.exe --webservice-port={{ duplicati_port }} --webservice-interface={{ duplicati_interface }}  --webservice-password={{ duplicati_password }} --server-datafolder={{ duplicati_datafolder }}

[Install]
WantedBy=multi-user.target

